@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 1.3;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #E7670B;
}

::selection {
  color: #ffffff;
  background: #E7670B;
}

h1 {
  font-size: 40px;
  color: #ffffff;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  color: #E7670B;
  font-size: 44px;
  font-weight: 900;
}

h3 {
  font-size: 28px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px dotted #ffffff;
  margin-bottom: 5px;
  min-height: 77px;
}

.slick-slider .slick-prev {
  left: -60px;
  background-image: url(../images/right-arrow.svg);
  transform: rotate(180deg) translateY(50%);
}
.slick-slider .slick-prev::before {
  display: none;
}
.slick-slider .slick-prev.slick-disabled {
  visibility: hidden;
  opacity: 0;
}
.slick-slider .slick-next {
  right: -60px;
  background-image: url(../images/right-arrow.svg);
}
.slick-slider .slick-next::before {
  display: none;
}
.slick-slider .slick-next.slick-disabled {
  visibility: hidden;
  opacity: 0;
}
.slick-slider .slick-arrow {
  height: 100px;
  width: 55px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  top: 16%;
}
@media (max-width: 1199px) {
  .slick-slider .slick-arrow {
    display: none !important;
  }
}

.container {
  max-width: 973px;
  padding: 0 25px;
  margin: 0 auto;
}

.instructional-section {
  padding: 60px 0;
}
.instructional-section .title-block {
  text-align: center;
  margin-bottom: 60px;
}
.instructional-section .title-block h2 {
  margin-bottom: 5px;
}
.instructional-section .instructional-wrapper {
  position: relative;
  padding-left: 85px;
}
.instructional-section .instructional-wrapper .week-block {
  position: absolute;
  bottom: 50px;
  left: 80px;
  display: flex;
  flex-direction: row-reverse;
  transform-origin: left bottom;
  transform: rotate(-90deg);
}
.instructional-section .instructional-wrapper .week-block .week {
  background-color: #FFCB05;
  color: #BA4C26;
  font-weight: 900;
  font-size: 28px;
  height: 75px;
  width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 75px 75px 0 0;
  padding-top: 15px;
  margin: 0 3px;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner {
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  padding: 0 3px;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.blue .heading-block {
  background-color: #005E9D;
  box-shadow: 0 -10px 0 #037BC1;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.blue .week-description {
  background-color: #037BC1;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.blue .week-description:hover {
  background-color: #005E9D;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.blue span {
  color: #005E9D;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.purple .heading-block {
  background-color: #6950A1;
  box-shadow: 0 -10px 0 #826aaf;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.purple .week-description {
  background-color: #826aaf;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.purple .week-description:hover {
  background-color: #6950A1;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.purple span {
  color: #6950A1;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.orange .heading-block {
  background-color: #F15A22;
  box-shadow: 0 -10px 0 #E47709;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.orange .week-description {
  background-color: #E47709;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.orange .week-description:hover {
  background-color: #F15A22;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.orange span {
  color: #F15A22;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.red .heading-block {
  background-color: #C72127;
  box-shadow: 0 -10px 0 #ED1C24;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.red .week-description {
  background-color: #ED1C24;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.red .week-description:hover {
  background-color: #C72127;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.red span {
  color: #C72127;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.violet .heading-block {
  background-color: #9B1F87;
  box-shadow: 0 -10px 0 #BD3E97;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.violet .week-description {
  background-color: #BD3E97;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.violet .week-description:hover {
  background-color: #9B1F87;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.violet span {
  color: #9B1F87;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.green .heading-block {
  background-color: #519C0B;
  box-shadow: 0 -10px 0 #5EA61B;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.green .week-description {
  background-color: #5EA61B;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.green .week-description:hover {
  background-color: #519C0B;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.green span {
  color: #519C0B;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.dark-green .heading-block {
  background-color: #009A82;
  box-shadow: 0 -10px 0 #00A88E;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.dark-green .week-description {
  background-color: #00A88E;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.dark-green .week-description:hover {
  background-color: #009A82;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner.dark-green span {
  color: #009A82;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner span {
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  margin-bottom: 24px;
  color: #0485A2;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .heading-block {
  background-color: #0485A2;
  box-shadow: 0 -10px 0 #0a99ba;
  padding: 13px;
  margin-bottom: 12px;
  border-radius: 24px 24px 0 0;
  min-height: 204px;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .heading-block .content {
  color: #ffffff;
  text-transform: uppercase;
  min-height: 65px;
  margin-bottom: 10px;
  position: relative;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .heading-block .content::after {
  content: "";
  height: 3px;
  width: 18px;
  position: absolute;
  bottom: 0;
  left: 46%;
  background-color: #ffffff;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .week-description {
  background-color: #059DBF;
  min-height: 150px;
  margin-bottom: 6px;
  transition: all 0.5s;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .week-description:hover {
  background-color: #0485A2;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .week-description .link-wrapper {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .week-description .link-wrapper a {
  display: block;
  position: relative;
  color: #ffffff;
  padding-bottom: 18px;
  margin-bottom: 6px;
  transition: all 0.5s;
  font-size: 18px;
  max-width: 194px;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .week-description .link-wrapper a::after {
  content: "";
  height: 3px;
  width: 18px;
  position: absolute;
  bottom: 0;
  left: 46%;
  background-color: #ffffff;
}
.instructional-section .instructional-wrapper .instruction-slide .instructional-slide-inner .week-description .link-wrapper a:hover {
  text-decoration: underline;
}
.instructional-section .slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0 0;
}
@media (max-width: 991px) {
  .instructional-section .slider-nav.desktop-nav {
    display: none;
  }
}
.instructional-section .slider-nav.tablet-nav {
  display: none;
}
@media (max-width: 991px) {
  .instructional-section .slider-nav.tablet-nav {
    display: flex;
  }
}
.instructional-section .slider-nav.show-prev .prev {
  visibility: visible;
  opacity: 1;
}
.instructional-section .slider-nav.hide-next .next {
  visibility: hidden;
  opacity: 0;
}
.instructional-section .slider-nav a {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  text-decoration: underline;
  font-weight: 900;
  color: #E7670B;
  transition: all 0.5s;
}
.instructional-section .slider-nav a:hover img {
  transform: translateX(-20%);
}
.instructional-section .slider-nav em {
  font-style: normal;
}
.instructional-section .slider-nav img {
  vertical-align: middle;
}
.instructional-section .slider-nav .prev em {
  transform: rotate(180deg);
  margin-right: 15px;
}
.instructional-section .slider-nav .prev span em {
  margin: 0;
}
.instructional-section .slider-nav .next em {
  margin-left: 15px;
}
.instructional-section .slider-nav .next span em {
  margin: 0;
}/*# sourceMappingURL=main.css.map */