
$black: #000000;
$white: #ffffff;
$primary-color: #E7670B;
$secondary-color:#007bff;
$text-color:#4a4a4a;
$blue-color:#005E9D;
$blue-boxshadow:#037BC1;
$teal-color:#0485A2;
$teal-boxshadow:#0a99ba;
$purple-color: #6950A1;
$violet-color: #BD3E97;
$green-color: #5EA61B;
$dark-green-color:#009A82;
$red-color:#C72127;
$dark-orange:#BA4C26;
$yellow:#FFCB05;
$transition: all 0.5s;

